.chapter .highlight { background-color: #F4F4F4; }


/* .chapter .highlight { color: #F7F7F7; background-color: #27262F; } */
/* .chapter .c1 { color: #8b8b8b; font-style: italic } /\* Comment.Single *\/ */
/* .chapter .nb { color: #c13a3a } /\* Name.Builtin *\/ */
/* .chapter .k { color: #c13a3a; font-weight: bold } /\* Keyword *\/ */
/* .chapter .kp { color: #c13a3a } /\* Keyword.Pseudo *\/ */
/* .chapter .no { color: #FF4530 } /\* Name.Constant *\/ */
/* /\* .no { color: #664312 } /\\* Name.Constant *\\/ *\/ */
/* .chapter .s1 { color: #13E618 } /\* Literal.String.Single *\/ */
/* /\* .s1 { color: #68b800 } /\\* Literal.String.Single *\\/ *\/ */
/* /\* #content .s1 { color: #68b800 } *\/ */
/* .chapter .ss { color: #FF9E21 } /\* Literal.String.Symbol *\/ */
/* .chapter .sr { color: #BB6688 } /\* Literal.String.Regex *\/ */



.c1 { color: #717171; font-style: italic } /* Comment.Single */
.nb { color: #c13a3a } /* Name.Builtin */
.k { color: #c13a3a; font-weight: bold } /* Keyword */
.kp { color: #c13a3a } /* Keyword.Pseudo */
/* .no { color: #661A12 } /\* Name.Constant */
.no { color: #B42313 } /* Name.Constant */
/* .no { color: ##FF3300 } /\* Name.Constant *\/ */
/* .no { color: #664312 } /\* Name.Constant *\/ */
/* .s1 { color: #58920e } /\* Literal.String.Single *\/ */
.s1 { color: #39BF06 } /* Literal.String.Single */
.s1 { color: #34AD06 } /* Literal.String.Single */39BF06
/* .s1 { color: #68b800 } /\* Literal.String.Single *\/ */
/* #content .s1 { color: #68b800 } */
.ss { color: #58920e } /* Literal.String.Symbol */
.sr { color: #BB6688 } /* Literal.String.Regex */
/* .mi { color: #666666 } /\* Literal.Number.Integer *\/ */



.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
/* .o { color: #666666 } /\* Operator *\/ */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */


.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */

.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */

.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */

.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
